@page
@model MyApp.Namespace.CreateModel
@{
}

<div>
    <h1>Crear Perfil</h1>
    <form action="" method="post">
        <input type="text" asp-for="perfil.Nombre" class="form-control" placeholder="Nombre"/>
        <input type="text" asp-for="perfil.Descripcion" class="form-control" placeholder="Descripción"/>
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
</div>