@page
@model MyApp.Namespace.IndexModel
@{
}

<div class="container">
    <h1>Perfiles</h1>
    <p>Bienvenido a la página de perfiles.</p>
    <a asp-page="Create" class="btn btn-primary">Crear nuevo perfil</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.perfiles)
            {
                <tr>
                    <td>@p.IdPerfil</td>
                    <td>@p.Nombre</td>
                    <td>@p.Descripcion</td>
                </tr>
            }
        </tbody>
    </table>
</div>